<!DOCTYPE html>
<html >
<head>
    <title>Mundana - home</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- nav section start -->
		<nav class="container">
			<div class="navbar-brand"> <b>Mundana</b></div>
			<div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>              
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
			<div class="navbar-btn"></div>
		</nav>
		<!-- nav section end -->
		
		<!-- header section start -->
		<header class="container">
            <!-- <div class="text">

            </div>
            <div class="header-img">
                <img src="assets/image/home.jpg" alt="pick">
            </div> -->
        </header>
		<!-- header section end -->
		
		<!-- about section start -->
		<section class="about-section container"></section>
		<!-- about section end -->
		
		<!-- blog section start -->
		<section class="blog-section container"></section>
		<!-- blog section end -->
		
		<!-- footer section start -->
		<footer class="container"></footer>
		<!-- footer section end -->
</body>
</html>